﻿@using Investigation.Shared.Entities
@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>


<EditForm EditContext="editContext" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText class="form-control" @bind-Value="Activity.Nombre" />
            <ValidationMessage For="@(()=>Activity.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Project Id:</label>
        <div>
            <InputNumber @bind-Value="Activity.ProjectId" />
            <ValidationMessage For="@(()=>Activity.ProjectId)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Descripción:</label>
        <div>
            <InputText class="form-control" @bind-Value="Activity.Descripcion" />
            <ValidationMessage For="@(()=>Activity.Descripcion)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha Inicio:</label>
        <div>
            <InputDate @bind-Value="Activity.FechaInicio" />
            <ValidationMessage For="@(()=>Activity.FechaInicio)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Fecha Final:</label>
        <div>
            <InputDate @bind-Value="Activity.FechaFinal" />
            <ValidationMessage For="@(()=>Activity.FechaFinal)" />
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>

</EditForm>


@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Activity);
    }

    [EditorRequired]
    [Parameter]

    public Activity Activity { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormPostedSuccessfully)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }

}